@font-face {
  font-family: 'VERDANA';
  src: url('../assets/fonts/VERDANA.TTF');
}

.App {
  width: 100vw;
  height: 100vh;
  text-align: center;
  display: flex;
}

.logo {
  font-family: 'VERDANA';
  font-weight: bold;
}

.sidebar {
  height: 100%;
  flex: 1;
  background-color: #F4F4F4;
  text-align: center;
  padding: 20px;
}

.mainbar {
  height: 100%;
  flex: 3;
}